<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="wrap">
        {% include navbar.html%}
        <div class="jumbotron masthead">
            <div class="container">
                <h1>Experimental Microbial Ecology Hub <p><small>Connecting, communicating, creating</small></p></h1>
                <img id="masthead-img" src="{{ page.root }}assets/images/protist collage 2.svg">
            </div>
        </div>
        <div class="container content-box">
            {% include big-buttons.html%}

            <hr class="hidden-xs">
            {{ content }}
        </div>
    </div>
    {% include footer.html%}
    {% include scripts.html%}
</body></html>
